@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

html.dark body {
  @apply bg-slate-950 text-slate-50;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}
